$btn-icon-font-size: 25px;
$text-color: $body-color;
$text-color-secondary:	$body-color;



$left-offcanvas-width: 380px;
$left-offcanvas-rightside-width: 70px;









//Width Variables
// $full-width: 100%;








//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
/*$meta-nav-color: $link-color;
$meta-nav-color-open: $link-color;
$meta-nav-hover-color: #ffffff;
$meta-nav-border-color: #ffffff;
$meta-nav-background: #ffffff;
$meta-nav-hover-background: #ffffff;*/


//*********Search*********
$searchbar-icon-color: #000000;
$autocomplete-background: #ffffff;

//Item colors
$item-promo-color: #000;
$item-sale-color: #000;
$item-sale-price-color: #000;




//*********Accordion Colors*********
$accordion-bg: #000000;

//*********Carousel Style*********
$carousel-font-style: uppercase;


//*********Modal Colors*********
$modal-close-btn-color: #000000;
