.c-banner__simple,
.c-banner {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.simple-responsive-banner-component,
.banner__component--responsive,
.banner__component {

    a {
        display: block;
    }

    img {
        width: 100%;
        height: auto;
    }
}